@{
    ViewData["Title"] = "Portfolio";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
        <div class="breadcrumb-hero">
            <div class="container">
                <div class="breadcrumb-hero">
                    <h2>Portfolio</h2>
                    <p>Below are a list of projects I have completed during my time at Centriq. </p>
                </div>
            </div>
        </div>
        <div class="container">
            <ol>
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>Portfolio</li>
            </ol>
        </div>
    </section><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
        <div class="container">

            

            <div class="row portfolio-container" data-aos="fade-up">

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/SurviveDungeonScreenshot.png" class="img-fluid" alt="screenshot of 'Survive' project">
                        <div class="portfolio-info">
                            <h4>Console App</h4>
                            <p>.NET Core Console Application where the foundational concepts of C# as a language were learned.</p>
                            <div class="portfolio-links">
                                <a href="@Url.Action("SurviveDetails", "Home")" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/Screenshot 2024-04-16 160724.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>StoreFront</h4>
                            <p>The StoreFront Application is a full stack web application.</p>
                            <div class="portfolio-links">
                                <a href="@Url.Action("StoreFrontDetails", "Home")" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/ToDoApi.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>ToDo API</h4>
                            <p>The goal of this API is to provide the backend for a To Do list application.</p>
                            <div class="portfolio-links">
                                <a href="@Url.Action("ToDoApiDetails", "Home")" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/ToDos.png" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>React ToDo</h4>
                            <p>A single page application using React JS.</p>
                            <div class="portfolio-links">
                                <a href="@Url.Action("ReactToDoDetails", "Home")" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                    <div class="portfolio-wrap">
                        <img src="~/assets/img/portfolio/construction.jpg" class="img-fluid" alt="">
                        <div class="portfolio-info">
                            <h4>SAT</h4>
                            <p>Coming soon!</p>
                            <div class="portfolio-links">
                                <a href="@Url.Action("SATDetails", "Home")" title="More Details"><i class="bx bx-link"></i></a>
                            </div>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </section>
    <!-- End Portfolio Section -->
    <!-- ======= Our Clients Section ======= ********maybe edit this to include software I've used at Centriq-->
    <section id="clients" class="clients">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Programs</h2>
                <p>Experience with the following programs.</p>
            </div>

            <div class="clients-slider swiper">
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="~/assets/img/portfolio/efe020c3-cfc2-41f9-be41-ad581ffc9969.jpg" class="img-fluid" alt="javascript logo"></div>
                    <div class="swiper-slide"><img src="~/assets/img/portfolio/html5.png" class="img-fluid" alt="html5 logo"></div>
                    <div class="swiper-slide"><img src="~/assets/img/portfolio/CSS-Logo.jpg" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="~/assets/img/portfolio/flat,750x,075,f-pad,750x1000,f8f8f8.u2.jpg" class="img-fluid" alt=""></div>

                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section><!-- End Our Clients Section -->

</main><!-- End #main -->
